.priceInformation {
  font-size: 14px;
  color: #173A5E;
  display: flex;
  justify-content: center;
  border-bottom: 1px solid #173A5E;
  padding: 5px;
}

.dateField {
  flex: 1
}

.priceField {
  flex: 1
}